.widget {
    flex: .25;
    padding: 10px 20px;
}

.widget__searchBar {
    color: gray;
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px 20px;
    border-radius: 30px;
    gap: 10px;
}

.widget__searchBar > input {
    all: unset;
}

.widget__searchBar > input::placeholder {
    font-weight: 500;
}